h5, h2, .loading{
    font-family: Oswald, sans-serif;
    color: #d26c22;
    font-weight: 500;
    line-height: 33px;
    margin-top: 2rem;
}
h2,.temp{
    color:#505050;
    font-size: 18px;
    font-weight: 600;
}
label:hover{
    cursor: pointer;
}
agm-map{
  height: 18rem;
}
.loading{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: 20rem;
  box-sizing: border-box;
}
.waiting{
  animation-name: wait;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;


}
@keyframes wait{
  0%{
    opacity: 0;
  }
  10%{
    opacity: .2;
  }
  50%{
    opacity: .5;
  }
  70%{
    opacity: .7;
  }
  100%{
    opacity: 1;
  }
}
